gradio==1.6.4
matplotlib==3.3.4
torch~=1.7.1
seaborn==0.11.0
glog==0.3.1
yacs==0.1.7
numpy~=1.16.4
torchvision~=0.8.2
Pillow~=8.0.0
scikit_learn==0.24.1
sklearn~=0.0
scikit-learn~=0.24.1
wandb~=0.9.1
requests~=2.22.0